*.zip
*.db
*.vsidx
*.json
*.suo
*.cache
VisualStudio/WattsLeft/WattsLeft/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VisualStudio/WattsLeft/WattsLeft/obj/Debug/WattsLeft.csproj.FileListAbsolute.txt
VisualStudio/WattsLeft/WattsLeft/obj/Debug/WattsLeft.dll
VisualStudio/WattsLeft/WattsLeft/obj/Debug/WattsLeft.pdb
